<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991357644816-2ag4j8v5rvo1m9vrrikre4g5njjdg78j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991357644816-2ag4j8v5rvo1m9vrrikre4g5njjdg78j</string>
	<key>API_KEY</key>
	<string>AIzaSyAuwQfJjgZ53UlRZD5g0jA0qalsCukXzyE</string>
	<key>GCM_SENDER_ID</key>
	<string>991357644816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rama.findjobapp</string>
	<key>PROJECT_ID</key>
	<string>find-job-app-d584c</string>
	<key>STORAGE_BUCKET</key>
	<string>find-job-app-d584c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991357644816:ios:b30d9a66c9a1f47d49da95</string>
</dict>
</plist>